body{
  background-color: whitesmoke;
  margin: 0;
}
.uni-padd{
  padding: 0 4%;
}
 #image{
  height: 130px;
  width: 170px;
}
#top-bar{
  background-color: rgb(154, 218, 218);
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}
#social-icons{
  float: right;
}
.fab{
  background-color: rgb(200, 242, 242);
  color: rgb(34, 54, 56);
  padding: 7px;
  border-radius: 50%;
  margin: 5px;
}
#nav-bar{
  display: flex;
  direction: row;
  justify-content: space-around;
}

/*Sign up style*/
#S-container{
  border: 3px black solid;
  background:transparent;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 26px;
  margin-top: 150px;
}
#L-container{
  border: 3px white solid;
  background:transparent;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 26px;
  margin-top: 150px;
  margin-right: 50px;
}
#S-body{
  background-image: url(../images/signup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#nav-2{
  width: 100%;
  height: 250px;
  background: url(../images/ffd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
}

#nav-2 h2{
  padding: 10px;
  color: black;
  font-size: 55px;
  text-align: right;
}

#nav-2 p{
  margin: 50px;
  color: black;
  font-size: 35px;
  text-align: right;
}

.search-box{
  text-align:right;
 margin: 50px;
}

.search-box input{
  padding: 10px;
  width: 300px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.food{
  background-color: rgb(134, 180, 180);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.food-card img{
  height: 250px;
  margin: 25px;
  padding: 25px;
}

footer{
  background-color: black;
  padding: 10px 0px;
  color: white;
  text-align: center;
}
